@model WebApplication22.Models.repairs_logbook

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление записи в Журнале Ремонтов</h2>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cars_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cars_number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.start_time_rep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_time_rep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.repairs.type_rep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.repairs.type_rep)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к Журналу Ремонтов", "Index")
        </div>
    }
</div>
