@model WebApplication22.Models.trips

@{
    ViewBag.Title = "Удалить";
}

<h2>Удаление рейса</h2>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.start_point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_point)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.end_point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_point)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.distance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.distance)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку рейсов", "Index")
        </div>
    }
</div>
