@model WebApplication22.Models.trips_logbook

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление записи из Журнала Рейсов</h2>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cars_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cars_number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.trips.start_point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trips.start_point)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.trips.end_point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trips.end_point)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.start_time_trip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_time_trip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_time_trip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_time_trip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к Журналу Рейсов", "Index")
        </div>
    }
</div>
