@model WebApplication22.Models.trips_logbook

@{
    ViewBag.Title = "Изменение";
}

<h2>Изменение записи в Журнале Рейсов</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idtrip_logbook)

        <div class="form-group">
            @Html.LabelFor(model => model.trips_idtrip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("trips_idtrip", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.trips_idtrip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cars_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cars_number", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cars_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.start_time_trip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.start_time_trip, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.start_time_trip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.end_time_trip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.end_time_trip, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.end_time_trip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.weight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к Журналу Рейсов", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
